name: Test

on:
  merge_group:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Dump GitHub Context.Event
  dump:
    name: Event details
    runs-on: ubuntu-24.04
    steps:
      - name: Event details
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "github.event_name: ${{ github.event_name }}"
          echo "github.event.action: ${{ github.event.action }}"
          echo "${GITHUB_CONTEXT}" | jq .

  # Test for PR, merge queue and merge to main
  get-pr:
    name: Get PR number
    runs-on: ubuntu-24.04
    outputs:
      pr: ${{ steps.vars.outputs.pr }}
    steps:
      - uses: actions/checkout@v4
      - id: vars
        uses: ./

  verify-pr:
    name: Verify PR number
    needs: [get-pr]
    env:
      pr: ${{ needs.get-pr.outputs.pr }}
    runs-on: ubuntu-24.04
    steps:
      - name: Verify PR number
        run: |
          # Check needs.get-pr.outputs.pr
          [ ! -z ${{ env.pr }} ]|| \
            (echo "No PR number" && exit 1)
          echo "PR: ${{ env.pr }}"
